<phpunit bootstrap="./vendor/autoload.php">
  <testsuites>
    <testsuite name="FastRoute Tests">
      <directory>./tests/fast-route/</directory>
    </testsuite>
    <testsuite name="DaftRouter">
      <directory>./tests/daft-router/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log
      type="coverage-html"
      target="phpunit"
      logIncompleteSkipped="true"
    />
    <log
      type="coverage-text"
      target="php://stdout"
      showUncoveredFiles="true"
      showOnlySummary="false"
    />
  </logging>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src/</directory>
      <directory suffix=".php">./vendor/nikic/fast-route/src/"</directory>
    </whitelist>
  </filter>
</phpunit>
